<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>598142140424-e90leo1la0hb9vbc8f0pkljjhllsc09n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598142140424-e90leo1la0hb9vbc8f0pkljjhllsc09n</string>
	<key>API_KEY</key>
	<string>AIzaSyAr1UzpR8g-nAQgSkDxNadJLJ4aC-a0dJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>598142140424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.charity.remember</string>
	<key>PROJECT_ID</key>
	<string>remember-1efb3</string>
	<key>STORAGE_BUCKET</key>
	<string>remember-1efb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598142140424:ios:82346542af5568d220d1bd</string>
</dict>
</plist>